apiVersion: v1
kind: Service
metadata:
  name: location
  labels:
    app: location
spec:
  type: ClusterIP
  selector:
    app: location
  ports:
    - name: grpc
      port: 50053
      targetPort: grpc
