apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

nameSuffix: -dev

resources:
  - ../../base
  - ride-db-secret.yaml
  - ride-secrets.yaml

images:
  - name: ghcr.io/daffahilmyf/ride-hailing-ride
    digest: sha256:REPLACE

patches:
  - target:
      kind: Deployment
      name: ride
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
      - op: add
        path: /spec/template/spec/containers/0/resources
        value:
          requests:
            cpu: "250m"
            memory: "256Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
