apiVersion: apps/v1
kind: Deployment
metadata:
  name: matching
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: matching
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
