apiVersion: v1
kind: Service
metadata:
  name: matching
  labels:
    app: matching
spec:
  type: ClusterIP
  selector:
    app: matching
  ports:
    - name: grpc
      port: 50052
      targetPort: grpc
