apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ride-hailing

resources:
  - deployment.yaml
  - service.yaml

configMapGenerator:
  - name: location-config
    files:
      - config.yaml=../../../../services/location/config/config.yaml
