apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

nameSuffix: -prod

resources:
  - ../../base
  - matching-secrets.yaml

images:
  - name: ghcr.io/daffahilmyf/ride-hailing-matching
    digest: sha256:REPLACE

patches:
  - target:
      kind: Deployment
      name: matching
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
      - op: add
        path: /spec/template/spec/containers/0/resources
        value:
          requests:
            cpu: "500m"
            memory: "512Mi"
          limits:
            cpu: "1000m"
            memory: "1Gi"
