apiVersion: apps/v1
kind: Deployment
metadata:
  name: location
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: location
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              cpu: 1
              memory: 1Gi
