apiVersion: apps/v1
kind: Deployment
metadata:
  name: matching
spec:
  replicas: 1
  selector:
    matchLabels:
      app: matching
  template:
    metadata:
      labels:
        app: matching
    spec:
      containers:
        - name: matching
          image: ghcr.io/daffahilmyf/ride-hailing-matching:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 50052
          volumeMounts:
            - name: config
              mountPath: /config
          args: ["serve", "--config", "/config/config.yaml"]
      volumes:
        - name: config
          configMap:
            name: matching-config
