apiVersion: v1
kind: Service
metadata:
  name: user
  labels:
    app: user
spec:
  type: ClusterIP
  selector:
    app: user
  ports:
    - name: http
      port: 8081
      targetPort: http
    - name: grpc
      port: 50054
      targetPort: grpc
