name: CI Proto

on:
  push:
    branches: [main]
    paths:
      - proto/**
      - buf.yaml
      - buf.gen.yaml
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24.0'
      - name: Go test
        working-directory: proto
        run: go test ./...
